#container {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    margin: auto;
    height: 90vh;
    width: 100%;
    padding: 0px;
}

#header {
    font-family: "Geist Mono", monospace;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
}

#drawing-area {
    background-color: #F8F8F8;
    border: 3px dashed black;
    border-radius: 20px;
    width: 95%;
    max-width: 1000px;
    height: 60vhpx;
    max-height: 500px;
    cursor: crosshair;
}

#drawing-tools-container {
    background-color: #393939;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn-drawing-tools {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;;
}

.btn-drawing-tools img {
    width: 28px;   
    height: 28px;  
    object-fit: contain; 
    padding: 5px 7px 5px 7px;
}

.btn-drawing-tools:hover img:hover {
    background-color: #636363;
    border-radius: 50%;
}

#prediction-box {
    background-color: #393939;
    height: 50px;
    width: 250px;
    border-radius: 25px;
    
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 20px;

    padding: 0 40px;
    width: fit-content;
    max-width: 90vh;
    white-space: nowrap;
}

#prediction-text {
    font-family: "Geist Mono", monospace;
    font-style: bold;
}

body {
    background-color: #f4f1de;
}

@media screen and (max-width: 600px) {
    #header-title {
        font-size: 2rem;
    }

    #prediction-text {
        font-size: 1rem;
    }

    #drawing-area {
        width: 90%;
        height: 50vh;
    }

    #drawing-tools-container {
        width: 80px;
    }

    .btn-drawing-tools img {
        width: 24px;
        height: 24px;
    }

    #prediction-box {
        width: 200px;
    }
}